*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local Keystores & Signing configs (Local only)
*.jks
*.keystore
!keystore/debug.jks
!keystore/freekeys.jks
keystore/release.jks
keystore.properties
